# Đây là file wrangler.toml đã sửa
name = "veolagi"
main = "dist/main.js" # Wrangler sẽ tự động coi đây là ES Module

compatibility_date = "2025-11-01"
compatibility_flags = [ "nodejs_compat" ]

# [vars]
# VÍ DỤ: VEO_ENV = "production"