# Đây là file wrangler.toml chính xác
name = "veolagi"
main = "dist/main.js" # Trỏ đến file output của NestJS Webpack

# ĐÂY LÀ CHÌA KHÓA: Đặt 'format' ở cấp cao nhất (top-level)
# Nó báo cho Wrangler biết file 'main' là CommonJS
format = "commonjs"   

compatibility_date = "2025-11-01"
compatibility_flags = [ "nodejs_compat" ]

# [vars]
# VÍ DỤ: VEO_ENV = "production"

# Đảm bảo bạn XÓA bỏ khối [build.module_rules] mà tôi đã thêm vào trước đó